<!-- this is the signup page template -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/login_styling.css">
  <title>sign up</title>
</head>
<body>
  <!-- Header Section -->
  <header>
    <div class="header-left">
      <button class="header-btn">
        <img src="/static/ava_logo.png" alt="AVA logo" class="ava_logo">
      </button>
    </div>
    <div class="header-center">
      <h2>Welcome to A.V.A, your personal AI health assistant...</h2>
    </div>
    <div class="header-right">
      <a class="header-btn" href="/">log in</a>
    </div>
  </header>

  <!-- signup Form Section -->
  <div class="form-container">
    <h1>sign up</h1>
    <form action="/signup" method="POST">
      <div class="form-group">
        <label for="username">username</label>
        <input type="text" id="username" name="username" placeholder="please input your username" required>
      </div>
      <div class="form-group">
        <label for="password">password</label>
        <input type="password" id="password1" name="password1" placeholder="please input your password" required>
      </div>
      <div class="form-group">
        <label for="password">confirm password</label>
        <input type="password" id="password2" name="password2" placeholder="confirm password" required>
      </div>
      <button type="submit">submit</button>
    </form>
  </div>
</body>
</html>
